# Telegram Bot Token (получите у @BotFather)
BOT_TOKEN=YOUR_BOT_TOKEN_HERE

# Настройки прокси (опционально)
USE_PROXY=False
PROXY_HOST=213.226.78.86
PROXY_PORT=8000
PROXY_USERNAME=E5XeXW
PROXY_PASSWORD=PcnzYp
PROXY_TYPE=socks5
